name: Continuous Deployment

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: casualty97 
          password: dckr_pat_7B9MRrsxq6Xu4AJI8_W8HVqQSVs

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./tic-tac-toe
          push: true
          tags: casualty97/tic-tac-toe:latest

      - name: Deploy to Swarm
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull casualty97/tic-tac-toe:latest
            docker stack deploy -c stack.yml tttstack